$text-color: rgb(177, 209, 219);
$text-color--secondary: rgb(104, 132, 141);
$text-color--heading: rgb(200, 221, 219);
$link-color: #EEE5B1;
$link-color--light: rgb(255, 240, 154);

body {
  background: #2D3241;
  background: linear-gradient(180deg, rgb(32, 36, 49) 0%, #2D3241 510px);
  color:$text-color;
}

a {
  color: $link-color;

  &:visited {
    color: $link-color;
  }

  &:active, &:hover {
    color: $link-color--light;
  }
}

.post-meta {
  color: $text-color--secondary;
}

.svg-icon {
  fill: $link-color;
  vertical-align: middle;
}

.site-title, 
.site-title:visited,
.site-nav .page-link,
.site-nav .page-link:visited,
h1,h2,h3,h4,h5,h6 {
  color: $text-color--heading;
}

.site-title,
.site-nav .page-link {
  &:hover {
    color: $link-color--light;
  }
}

.site-nav {
  @media screen and (max-width: 600px) {
    background-color:rgb(30, 34, 46);
    border-color: $text-color--heading;
    .menu-icon > svg {
      fill: $text-color--heading;
    }
  }
}